@font-face {
    font-family: 'VT323-Regular';
    src: url('../fonts/VT323-Regular.ttf') format('truetype');
}

.amarante-regular {
    font-family: "Amarante", serif;
    font-weight: 400;
    font-style: normal;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
  

body {
    /*background: #c7e6c6;*/
    background: #d4eadc;
    color:#faebd7;
    font-family: "Amarante", serif;  
    transition: opacity 0.5s ease-in-out;  
}

.footer {
    background: #333;
    color: #fefefe;
    p, a {
        color: #fefefe;
    }
}

#game-container {
    position: relative;
    height: 100%;
    width: 650px;
}

#dialogue-container {
    position: absolute;
    bottom: 50px; /* Adjust based on the height of your input field */
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 80%;
    h1 {
        font-size:32px;
    }
}

.input-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

#game-input {
    width: 100%;
    padding-right: 30px;
    box-sizing: border-box;
}

.enter-icon {
    position: absolute;
    right: 60px;
    top: -22px;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    color: #666;
    border-left: 1px solid #666;
    padding-left: 5px;
}

#game-input {
    position: absolute;
    bottom: 10px; /* Adjust for spacing from the bottom */
    left: 50%;
    transform: translateX(-50%); /* Center the input horizontally */
    width: 80%; /* Adjust based on your design */
}

.fishing-background {
    background: #1f130c;
    overflow: hidden;
}

.gradient-background {
    background: url('/images/regal.png'), linear-gradient(to bottom, #feefcc 0%, #1f130c 80%);
    background-repeat: repeat, no-repeat;
}


.fishing-bottom-panel {
    background: #1f130c;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

#background-container {
    background-image: url('/images/pftf-cabin.gif');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#survey-container {
    background-image: url('/images/survey.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.mirror-background {
    background-image: url('/images/plain-wall.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

#mirrorCanvas {
    margin: 0 auto;
    width: 31.5%;
    margin-left: 33.3%;
    margin-top: 8.5%;
    border-radius: 10px;
    height: 472px;
}

.about-text-container {
    background: #fff;
    padding: 5%;
    border-radius: 10px;
    color: #333;
}

.gray-link {
    color: #333;
}

@keyframes waveAnimation {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }

.animate-text {
    display: inline-block;
    position: relative;
    animation: waveAnimation 6s infinite alternate;
}

.transition-effect {
    opacity: 0;
}

#fishArea {
    position: relative;
    width: 1000px;
    height: 600px;
    background-image: url('/images/underwater.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

#fisher {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-color: #808080;
    border-radius: 50%;
}

#line {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 50px;
    background-color: #000;
    transform-origin: top center;
}

.fish, .rock {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.fish {
    background-color: #ffd700;
}

.rock {
    background-color: #808080;
}

.diamondBackground {
    background-image: url('/images/fish-caught-background.jpg');
    background-size: 200px 200px; /* Adjust the size of the tiles */
    background-repeat: repeat;
    transform: rotate(45deg); /* Rotate the tiles to form diamonds */
    animation: scrollDiagonally 10s linear infinite; /* Adjust the duration as needed */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: -348%;
    top: -150%;
    width: 800%;
    height: 400%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: transparent; /* Make modal-content background transparent */
    transform: rotate(-45deg);
    margin: 0; /* Full-page modal */
    padding: 20px;
    height: 100%; /* Full-page modal */
    overflow: auto; /* Enable scroll if needed */
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    background-color: #fff; /* Set the background color of the inner content to white */
    padding: 20px; /* Adjust padding as needed */
    border-radius: 10px; /* Optional: for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: for a subtle shadow */
    width: 80%; /* Adjust width as needed */
    max-width: 600px; /* Adjust max width as needed */
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.lure {
    position: absolute;
    width: 50px; /* Adjust the size of the lure */
    height: auto;
    transform-origin: top center;
    z-index: 10; /* Ensure the lure is above the line */
    top: 20px;
}

@keyframes scrollDiagonally {
    0% {
        background-position: 10vw 25vh;
    }
    100% {
        background-position: 10vw -100vh;
    }
}

.auth-logo {
    width:50%;
}
.register {
    margin: 0 auto;
}

#survey {
    margin-top: -100px;
    #inputField {
        border-radius: 5px;
        margin: 0 auto;
        margin-bottom: 25px;
    }
}

#responseContainer {
    height: 25px;
    margin-bottom: 15px;
    #message {
        font-size: 26px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-2px); }
    20%, 40%, 60%, 80% { transform: translateX(2px); }
}

.shake {
    animation: shake 0.1s ease-in-out 10;
}

@keyframes sway-input {
    0%, 100% { transform: translateY(0); }
    25% { transform: translateY(-5px); }
    50% { transform: translateY(0); }
    75% { transform: translateY(5px); }
}

.sway-input {
    animation: sway 2s ease-in-out infinite;
}

.video-container {
    position: relative;
    width: 32.3%;
    left: 33.4%;
    padding-top: 25.25%; /* Maintain aspect ratio (800/750 = 1.0667) */
}

#inputVideo, #overlay, #webgl {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 576px) {
    .card-group.card-group-scroll {
        overflow-x: auto;
        flex-wrap: nowrap;
    }
}

.card-group.card-group-scroll > .card {
    flex-basis: 35%;
}