@font-face {
    font-family: 'VT323-Regular';
    src: url('../fonts/VT323-Regular.ttf') format('truetype');
}

.amarante-regular {
    font-family: "Amarante", serif;
    font-weight: 400;
    font-style: normal;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

body {
    /*background: #c7e6c6;*/
    background: #d4eadc;
    color:#faebd7;
    font-family: "Amarante", serif;  
    transition: opacity 0.5s ease-in-out;  
}

@keyframes sway {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

#animatedLogoPrimary, .floats {
    animation: sway 3s ease-in-out infinite;
}

.shard-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75vh; /* Adjust the height as needed */
    overflow: hidden;
    z-index: 10;
}

#game-container {
    position: relative; /* Ensure it has a position context for z-index to work */
    z-index: 2;
    height: 100%;
    width: 1250px;
    height: 700px;
    margin: 0 auto;
}

#pressFtoFishText {
    width: 100%;
    margin-top: 20%;
}

.shard-slice {
    position: absolute;
    bottom: 0;
    width: 50%; /* Increase the width for wider slices */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dfdfdf5e; /* Adjust the background color as needed */
    opacity: 0; /* Set default opacity to 0 */
    transition: opacity 0.5s ease; /* Transition for opacity change */
}

.shard-slice.visible {
    opacity: 1; /* Set opacity to 1 when class 'visible' is added */
}

.shard-left {
    left: 0;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    transform: rotate(-50deg);
    height: 800px;
}

.shard-center {
    left: 25%; /* Adjust left position to make slices horizontally flush */
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.shard-right {
    right: 0;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    transform: rotate(50deg);
    height: 800px;
}

footer {
    background: #333;
    color: #fefefe;
    p, a {
        color: #fefefe;
    }
}
form {
    color:#333;
}
#dialogue-container {
    /*
    position: absolute;
    bottom: 50px; /* Adjust based on the height of your input field */
/*
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 80%;
    h1 {
        font-size:32px;
    }
*/
}

.choice-label {
    background: #33333394;
    border-radius: 10px;
    padding:15px;
}

.input-container {
    position: absolute;
    width: 50%;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.enter-icon {
    position: absolute;
    right: 11%;
    top: -85px;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    color: #666;
    border-left: 1px solid #666;
    padding-left: 5px;
}

#splashEnterIcon {
    position: relative;
    right: -48%;
    top: -54px;
}

#game-container {
    background: url('/images/cabin-interior-clean-table.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.strange-glow-container {
    background: url('/images/strange-fish.jpg') !important;
    background-repeat: no-repeat;
    background-size: contain !important;
    background-position: center;
}

.cave-container {
    background: url('/images/cave-background.png') !important;
    background-repeat: no-repeat;
    background-size: contain !important;
    background-position: center;
}

#elderFish {
    display: none;
}

#game-input {
    position: relative; /* Changed to relative */
    bottom: 100px;
    left: 0; /* Changed to 0 */
    transform: translateX(0); /* Changed to 0 */
    width: 80%;
    z-index: 1;
}

.fishing-background {
    background: #1f130c;
    overflow: hidden;
}

.gradient-background {
    background: url('/images/regal.png'), linear-gradient(to bottom, #feefcc 0%, #1f130c 80%);
    background-repeat: repeat, no-repeat;
}


.fishing-bottom-panel {
    background: #1f130c;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

#background-container {
    background-image: url('/images/pftf-cabin.gif');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#cabin-container {
    background-image: url('/images/cabin-interior-clean-table.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#survey-container {
    background-image: url('/images/survey.png');
    background-color: #d2e9db;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.mirror-background {
    background-image: url('/images/plain-wall.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

#mirrorCanvas {
    margin: 0 auto;
    width: 31.5%;
    margin-left: 33.3%;
    margin-top: 8.5%;
    border-radius: 10px;
    height: 472px;
}

.about-text-container {
    background: #fff;
    padding: 5%;
    border-radius: 10px;
    color: #333;
}

.gray-text {
    color: #333;
}

@keyframes waveAnimation {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }

.animate-text {
    display: inline-block;
    position: relative;
    animation: waveAnimation 6s infinite alternate;
}

.transition-effect {
    opacity: 0;
}

#fishArea {
    position: relative;
    width: 1000px;
    height: 600px;
    background-image: url('/images/underwater.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

#speedGameContainer {
    position: relative;
    width: 620px;
    height: 515px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.speed-background {
    #scoreDisplay {
        color: #333;
        background: #fefef2;
        border-radius: 8px;
        width: 100px;
        margin: 0 auto;
        margin-bottom: -25px;
    }
}

#speedFisherContainer {
    width: 620px;
    margin: 0 auto;
    text-align: center;
}

.speed-background {
    background: url("/images/speed-fishing-body-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#speedLeftLane {
    background: url('/images/speed-left-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#speedMiddleLane {
    background: url('/images/speed-middle-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#speedRightLane {
    background: url('/images/speed-right-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#fisher {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-color: #808080;
    border-radius: 50%;
}

#line {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 50px;
    background-color: #000;
    transform-origin: top center;
}

.fishing-hook {
    position: absolute;
    bottom: -25px;
    font-size: 22px;
}

#hook1 {
    left: -925%;
    transform: scaleX(-1);
}

#hook2 {
    left: -515%;
}

.fish, .rock {
    position: absolute;
    border-radius: 50%;
}

.fish {
    width: 30px;
    height: 30px;
}

.fish-image {
    border-radius: 8px;
}

.rock {
    width: 30px;
    height: 30px;
}

.big-rock, .big-fish {
    width: 60px;
    height: 60px;
}

.diamondBackground {
    background-image: url('/images/fish-caught-background.jpg');
    background-size: 200px 200px; /* Adjust the size of the tiles */
    background-repeat: repeat;
    transform: rotate(45deg); /* Rotate the tiles to form diamonds */
    animation: scrollDiagonally 10s linear infinite; /* Adjust the duration as needed */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: -348%;
    top: -150%;
    width: 800%;
    height: 400%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: transparent; /* Make modal-content background transparent */
    transform: rotate(-45deg);
    margin: 0; /* Full-page modal */
    padding: 20px;
    height: 100%; /* Full-page modal */
    overflow: auto; /* Enable scroll if needed */
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    background-color: #fff; /* Set the background color of the inner content to white */
    padding: 20px; /* Adjust padding as needed */
    border-radius: 10px; /* Optional: for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: for a subtle shadow */
    width: 80%; /* Adjust width as needed */
    max-width: 600px; /* Adjust max width as needed */
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.lure {
    position: absolute;
    width: 50px; /* Adjust the size of the lure */
    height: auto;
    transform-origin: top center;
    z-index: 10; /* Ensure the lure is above the line */
    top: 20px;
}

@keyframes scrollDiagonally {
    0% {
        background-position: 10vw 25vh;
    }
    100% {
        background-position: 10vw -100vh;
    }
}

.auth-logo {
    width:50%;
}
.register {
    margin: 0 auto;
}

#survey {
    margin-top: -15%;
    #inputField {
        border-radius: 5px;
        margin: 0 auto;
        margin-bottom: 25px;
    }
}

#splashMessageContainer {
    border-radius: 8px;
    background: white;
    color: #333;
    padding: 25px;
    margin: 0 auto;
    width: 830px;
}

#fishCatchaContainer {
    display: none;
}

#fishCatchaCheckbox {
    width: 24px;
    height: 24px;
    margin-right: 15px;
    margin-left: 105px;
}

.fishCatchaContainer {
    display: flex;
    align-items: center;
}

#fishCatchaLabel {
    margin-top: 0;
}

#responseContainer {
    height: 25px;
    margin-bottom: 15px;
    #message {
        font-size: 26px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
}

@keyframes shake {
    0%, 100% { transform: translateX(-50%); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(calc(-50% - 5px)); }
    20%, 40%, 60%, 80% { transform: translateX(calc(-50% + 5px)); }
}

.shake {
    animation: shake 0.05s ease-in-out 10;
}

@keyframes sway-input {
    0%, 100% { transform: translateY(0); }
    25% { transform: translateY(-5px); }
    50% { transform: translateY(0); }
    75% { transform: translateY(5px); }
}

.sway-input {
    animation: sway 2s ease-in-out infinite;
}

.video-container {
    position: relative;
    width: 32.3%;
    left: 33.4%;
    padding-top: 25.25%; /* Maintain aspect ratio (800/750 = 1.0667) */
}

#inputVideo, #overlay, #webgl {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 576px) {
    .card-group.card-group-scroll {
        overflow-x: auto;
        flex-wrap: nowrap;
    }
}

.card-group.card-group-scroll > .card {
    flex-basis: 35%;
}

.speed-lane {
    position: absolute;
    width: 168px;
    height: 100%;
    bottom: 0;
}

#speedLeftLane {
    left: 6.5%;
    border-right: 1px solid #000;
}

#speedMiddleLane {
    left: 37.33%;
    border-right: 1px solid #000;
}

#speedRightLane {
    right: 0;
}

.speed-fisherman {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
}

@keyframes jiggle {
    0%, 100% {
      transform: rotate(0deg);
    }
    25%, 75% {
      transform: rotate(25deg);
    }
    50% {
      transform: rotate(-25deg);
    }
  }
  
  .jiggle {
    animation: jiggle 2s cubic-bezier(0.1, 0.1, 0.9, 0.9) infinite;
  }    

.speed-fish {
    position: absolute;
    padding: 5px;
    background-color: #fff;
    border: 2px solid green; /* Initial border color */
    border-radius: 5px;
    color: #333;
    margin:20px;
}

#speedFishGameInput {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

.active-lane {
    border: 2px solid #ff0;
}

.points-display {
    position: absolute;
    color: #fff;
    background-color: #000;
    padding: 5px;
    border-radius: 5px;
    animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

#location-title {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0 auto;
}

.location-title {
    text-align: center;
    margin-top: 20px;
}

.location-title h1 {
    font-size: 2em;
}

#location-title-container {
    opacity: 0;
    animation: fadeInOut 4s forwards;
    margin-top: -25% !important;    
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
    20%, 40%, 60%, 80% { transform: translateX(10px); }
}

.shake {
    animation: shake 0.8s ease-in-out 5;
}

.cave-input {
    bottom: -5% !important;
}

.cave-dialogue-container {
    margin-top: -35%;
}